.search-form {
    padding: 80px 70px 10px;
}

.search-form__form{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #E8E8E8;
}

.search-form__line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-form__input{
    background-color: #F4F4F4;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #A0A0A0;
    width: 100%;
    min-height: 48px;
    border: none;
    padding: 0 22px 0;
} 

.search-form__button{
    min-width: 70px;
    height: 44px;
    background-color: #3456F3;
    border-radius: 40px;
    border: none;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    margin-left: 10px;
}

.search-form__button:hover{
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 1020px){
    .search-form{
        padding: 80px 30px 10px;
    }
}

@media screen and (max-width: 520px){
    .search-form{
        padding: 81px 14px 10px;
    }
    .search-form__input{
        font-size: 12px;
        padding: 0 16px 0;
        min-height: 44px;
    }
}